exportPattern("^[[:alpha:]]+")
importFrom("data.table", "data.table")
importFrom("data.table", "as.data.table")
importFrom("forecast", "BoxCox")
importFrom("forecast", "BoxCox.lambda")
importFrom("rcompanion", "transformTukey")
importFrom("plyr", "join_all")
importFrom("e1071", "skewness")
importFrom("e1071", "kurtosis")
importFrom("dplyr", "bind_cols")
importFrom("dplyr", "left_join")
importFrom("stats", "shapiro.test")
importFrom("nortest", "pearson.test")
importFrom("VGAM", "yeo.johnson")
importFrom("LambertW", "Gaussianize")
importFrom("bestNormalize", "orderNorm")
importFrom("stats", "predict")
